/* < 1008px */
@media only screen and (max-width: 63em) {
  html {
    font-size: 56.25%;
  }

  .search-form {
    width: 100%;
  }

  .addnote-btn {
    width: 100%;
  }

  .note {
    width: 100%;
  }
}

/* <560px */
@media only screen and (max-width: 35em) {
  html {
    font-size: 50%;
  }

  .search-form {
    grid-template-columns: 1fr;
  }

  .container {
    padding: 3.6rem 2rem;
  }

  .message {
    font-size: 2.4rem;
    padding: 0 1.2rem;
    text-align: center;
  }

  main {
    padding: 0 1rem;
  }

  .addnote-btn {
    font-size: 2rem;
  }

  .btn-search {
    font-size: 1.7rem;
  }

  .btn-clear {
    font-size: 1.7rem;
  }

  .search-input {
    font-size: 1.7rem;
  }

  .container {
    gap: 1rem;
  }

  .search-form {
    gap: 1.6rem;
  }
}
