* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

input:focus {
  box-shadow: 0 0 0rem 0.4rem rgba(0, 0, 0, 0.2);
}

textarea:focus {
  box-shadow: 0 0 0rem 0.4rem rgba(0, 0, 0, 0.2);
}

button:focus {
  box-shadow: 0 0 0rem 0.4rem rgba(0, 0, 0, 0.2);
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', serif;
  background-image: linear-gradient(#fbdb89, #f48982);
  background-size: cover;
  background-repeat: no-repeat;
  color: #615551;
  min-height: 100vh;
  padding-top: 3.2rem;
}

.container {
  max-width: 150rem;
  margin: 0 auto;
  box-shadow: 0 2rem 6rem 0.5rem rgb(97 85 81 / 20%);
  border-radius: 9px;
  background-color: #fff;
  height: 94vh;
  border-radius: 2rem;
  padding: 3.6rem;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.addnotebtn-container {
  display: flex;
  justify-content: center;
}

.addnote-btn {
  border: none;
  font-size: 2.8rem;
  font-weight: 600;
  color: #fff;
  background-color: #748ffc;
  padding: 1rem 2rem;
  border-radius: 100px;
  cursor: pointer;
  width: 80%;

  transition: all 0.3s;
}

.addnote-btn:hover {
  background-color: #6881e3;
}

.notes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.note {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 9px;
  font-size: 2rem;
  padding: 2rem 2.4rem;
  width: 80%;
}

.note-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.note-content {
  display: flex;
  flex-direction: column;
  gap: 0;

  transition: all 0.3s;
}

.note-form-head {
  display: grid;
  grid-template-columns: 1fr 2rem;
  column-gap: 2rem;
  row-gap: 1.2rem;
}

.note-form-head:nth-child(3) {
  grid-column: 1 / -1;
}

.note-body {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  max-height: 0;

  transition: all 0.3s;
}

.note-active .note-body {
  opacity: 100;
  max-height: 1000px;
  visibility: visible;
  pointer-events: all;
}

.note-active .note-content {
  gap: 2rem;
}

.note-active .note-expand-btn {
  transform: rotate(180deg);
}

.note-form-body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.note-form input[type='text'] {
  font-size: 2rem;
  width: 100%;
  border: none;
  background-color: #f5f5f5;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  transition: all 0.3s;
}

.note-expand-btn {
  border: none;
  background-color: #fff;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.4rem;
  height: 2.4rem;

  align-self: center;
  justify-self: center;

  transition: all 0.3s;
}

.note-expand-btn:focus {
  box-shadow: none;
}

.note-expand-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.note-body-text {
  width: 100%;
  border: none;
  background-color: #f5f5f5;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  font-family: sans-serif;
  font-size: 1.8rem;
  letter-spacing: 1.2px;
  line-height: 1.4;
  resize: none;

  transition: all 0.3s;
}

.note-form-btns {
  display: flex;
  justify-content: right;
  gap: 2rem;
}

.note-form-btn {
  font-size: 2rem;
  padding: 1.2rem 2.4rem;
  border-radius: 100px;
  color: inherit;
  border: 2px solid currentColor;
  background-color: #fff;
  cursor: pointer;
  font-weight: 600;

  transition: all 0.3s;
}

.btn-save {
  border-color: #51cf66;
}

.btn-save:hover {
  background-color: #51cf66;
  color: #fff;
}

.btn-remove {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */

  transition: background-color 1s;
  border-color: #ff6b6b;
}

.btn-remove:hover {
  background-color: #ff6b6b;
  color: #fff;
}

.btn-edit {
  border-color: #748ffc;
}

.btn-edit:hover {
  background-color: #748ffc;
  color: #fff;
}

.note-head {
  display: grid;
  grid-template-columns: 1fr 2rem;
  column-gap: 2rem;
  row-gap: 1.2rem;
}

.note-title {
  font-size: 3.2rem;
  font-weight: 600;
}

.note-tags {
  display: flex;
  gap: 1.2rem;
}

.note-tag {
  padding: 0.4rem 1.4rem;
  background-color: #51cf66;
  border-radius: 100px;
  color: #fff;
}

.note-close-btn {
  border: none;
  background-color: #fff;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.4rem;
  height: 2.4rem;

  align-self: center;
  justify-self: center;

  transition: all 0.3s;
}
